@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  box-sizing: border-box;
}

a {
  color: black;
}

.header {
  display: flex;
}
@media screen and (min-width: 0) and (max-width: 650px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}

body, p {
  margin: 0;
  padding: 0;
}

.text-1par {
  color: black;
  font-size: 250%;
  padding-top: 20px;
  margin-left: 40px;
  font-family: "Josefin Sans", sans-serif;
}
@media screen and (max-width: 500px) {
  .text-1par {
    font-size: 20px;
  }
}

.head-line {
  background-color: #FFE6E6;
  height: 1px;
  width: 96%;
  margin-top: 5px;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 30px;
}

.first-par-cont {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #FFE6E6;
  border-radius: 25px 25px 25px 25px;
}

.first-par {
  margin-top: 40px;
  height: 560px;
  width: 300px;
  background: #DAEAF1;
  border-radius: 25px 0 25px 25px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  text-decoration: none;
}

.picture {
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-top: 12%;
  height: 240px;
  width: 75%;
}

.cocktail-name {
  color: black;
  font-size: 175%;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-top: 4%;
  text-decoration: none;
}

.line {
  background-color: #FFE6E6;
  height: 1px;
  width: 80%;
  margin-top: 5px;
  margin-left: 10%;
  margin-right: 10%;
}

.cocktail-info {
  color: rgb(55, 55, 55);
  font-size: 125%;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-top: 1%;
  text-decoration: none;
}

.cocktail-info-1 {
  color: black;
  font-size: 135%;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-decoration: none;
}

.center-rand-butt {
  width: 100%;
  display: flex;
  justify-content: center;
}

.rand-butt {
  background-color: #C6DCE4;
  border-color: #DAEAF1;
  height: 60px;
  width: 300px;
  margin-top: 40px;
  color: black;
  font-size: 120%;
  font-family: "Josefin Sans", sans-serif;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 60px;
  align-items: center;
}

.list {
  margin-bottom: 30px;
  height: 40px;
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.button-basic, .button-arrow-r, .button-arrow-l {
  background-color: #C6DCE4;
  border-color: #DAEAF1;
  height: 100px;
  width: 200px;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.button-arrow-l {
  margin-left: 10%;
}

.button-arrow-r {
  margin-right: 10%;
}

.arrow-pic {
  margin-top: 20px;
  height: 60px;
  width: 60px;
}

.search {
  width: 30%;
  max-height: 40px;
  margin-bottom: 30px;
  margin-left: 35%;
  margin-top: 10px;
  position: inherit;
  display: flex;
  gap: 4px;
}

.search-field {
  max-height: 40px;
  width: 80%;
  min-width: 60px;
}

.search-button {
  background-color: #C6DCE4;
  border-color: #DAEAF1;
  min-height: 40px;
  width: 15%;
  min-width: 40px;
  border-radius: 5px 5px 5px 5px;
}

.loop-logo {
  height: 80%;
  width: 50%;
}

.no-cocktails {
  margin-top: 30px;
  margin-left: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 300%;
  justify-content: center;
}



.main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
}
@media screen and (max-width: 750px) {
  .main-info {
    flex-direction: column;
    margin-top: 50px;
  }
}

.welcome {
  font-family: "Josefin Sans", sans-serif;
  font-size: 250%;
  margin-left: 5%;
  min-width: 29%;
}
@media screen and (max-width: 750px) {
  .welcome {
    justify-content: center;
    font-size: 200%;
    order: 0;
  }
}

.welcome-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 500px) and (max-width: 750px) {
  .welcome-div {
    order: 1;
  }
}
@media screen and (max-width: 500px) {
  .welcome-div {
    order: 1;
  }
}

.welcome-text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 150%;
  margin-left: 5%;
}
@media screen and (min-width: 500px) and (max-width: 750px) {
  .welcome-text {
    justify-content: center;
    font-size: 120%;
  }
}
@media screen and (max-width: 500px) {
  .welcome-text {
    justify-content: center;
    font-size: 15px;
    max-width: 290px;
  }
}

#one {
  width: 450px;
}

.upload-photo {
  height: 300px;
  width: 90%;
  background-color: #FFE6E6;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  margin-top: 20px;
}

.post-info {
  width: 100%;
  height: 30%;
  font-size: 35px;
  font-family: "Josefin Sans", sans-serif;
  padding-left: 20px;
  padding-top: 20px;
}
@media screen and (max-width: 320px) {
  .post-info {
    font-size: 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 920px) {
  .post-info {
    font-size: 25px;
  }
}

.submit {
  height: 30px;
  border-radius: 20px 20px 20px 20px;
  display: flex;
  background-color: #C6DCE4;
  border-color: #DAEAF1;
  justify-content: center;
  font-size: 150%;
  font-family: "Josefin Sans", sans-serif;
  width: 80%;
  margin-left: 10%;
  margin-top: 5px;
  margin-bottom: 20px;
}

.post-rule {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rule {
  font-size: 20px;
  font-family: "Josefin Sans", sans-serif;
  margin-left: 100px;
  margin-top: 30px;
}
@media screen and (max-width: 320px) {
  .rule {
    font-size: 15px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 650px) {
  .rule {
    font-size: 20px;
    margin-left: 50px;
  }
}